$background: #3a3a49;
$background-light: #4b4b5c;
$mint: #2fc9cd;
$mint-light: #18b0b5;
$mint-light2: #54d7da;
$mint-mid: #228a8c;
$mint-dark: #133231;
$text: #dcdcdc;
$text-dark: #232a2d;
$error: #da5151;
